.mainImage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.iframeImg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: 0.5s;
}
.iframeContentContainer {
  width: 100%;
  margin-top: 4em;
  display: flex;
}
.leftContainer {
  width: 50%;
  display: flex;
  align-items: flex-end;
  transition: 0.5s;
}
.leftContainer div {
  color: white;
  text-transform: uppercase;
}
.category,
.others {
  font-size: 0.7rem;
}
.movieName {
  font-size: 2.5rem;
  padding: 0.3em 0em;
}
.btns {
  margin-top: 2em;
  display: flex;
  gap: 10px;
}
.btns button {
  color: white;
  padding: 1em 2em;
  border: none;
  transition: 0.3s;
}
.btns button:nth-child(1) {
  background-color: blueviolet;
}
.btns button:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.281);
}
.btns button:hover {
  cursor: pointer;
  background-color: blueviolet;
}

.rightContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 50%;
  justify-content: flex-end;
}
