.nav {
  z-index: 5000;
}
.ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}
.ul .li:nth-child(1) {
  color: white;
}
.li {
  list-style: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.719);
  transition: 0.3s;
  text-decoration: none;
}
.li:hover {
  color: white;
}

@media screen and (max-width: 722px) {
  .ul {
    display: none;
  }
}
